<div id="<%= dom_id comment %>">
  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </p>

  <p>
    <strong><%= Comment.human_attribute_name(:user_name) %>:</strong>
    <% if comment.user.name.blank? %>
      <%= comment.user.email %>
    <% else%>
      <%= comment.user.name %>  
    <% end %>

  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <br>
    <%= comment.content %>
  </p>

</div>
