<div id="<%= dom_id comment %>">
  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <strong><%= "投稿者" %>:</strong>
    <% if comment.user.name.blank? %>
      <%= comment.user.email %>
    <% else%>
      <%= comment.user.name %>  
    <% end %>

  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <br>
    <%= comment.content %>
  </p>

</div>
