<div id="<%= dom_id comment %>">
  <p>
    <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
    <%= comment.created_at %>
  </p>

  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= comment.user.name %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <br>
    <%= comment.content %>
  </p>

</div>
