<h1><%= t('views.common.title_show', name: Comment.model_name.human) %></h1>

<div class="show-item">
  <%= render "comment", comment: @comment %>
</div>

<nav class="page-nav">
  <% if current_user == @comment.user %>
    <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_polymorphic_path([@comment.commentable, @comment]) %> |
  <% end %>

  <%= link_to t('views.common.back_to_show', name: @comment.commentable.model_name.human.downcase), @comment.commentable %>

  <% if current_user == @comment.user %>
    <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), polymorphic_path([@comment.commentable, @comment]), method: :delete %>
  <% end %>
</nav>
