<h1><%= t('views.common.title_show', name: Comment.model_name.human) %></h1>

<div class="show-item">
  <%= render "comment", comment: @comment %>
</div>

<nav class="page-nav">

<% if current_user == @comment.user %>
  <nav class="page-nav">
    <%= link_to t('views.common.edit', name: Comment.model_name.human.downcase), edit_commentable_comment_path(@comment) %> |
    <%= link_to t('views.common.back_to_show', name: commentable_model_name(@comment)), @comment.commentable %>
  </nav>
  <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), commentable_comment_path(@comment), method: :delete %>
<% end %>
</nav>
